
div.link:hover
{
border: medium solid skyblue ;
background: skyblue;
}

div.link
{
border: medium solid lavender ;
}

a
{
font-family:calibri;
font-size:large;
text-decoration: none;
color: black;
}

body{
font-family:calibri;
font-size:large;
text-decoration: none;
color: black;
background-color: lavender;
}